/* Estilo general para el cuerpo del documento */
body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    color: #588986;
    line-height: 1.6;
    background-color: #C1CFC2;
}

/* Estilos para el header */
header {
    text-align: center; 
    margin: 0;
    padding: 20px; 
}

.header-container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #A4B6A6; 
    border: 1px solid #b2c0b3; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

header img {
    max-width: 80%; 
    height: 200px; 
    display: block; 
    margin: 0 auto; 
}

header h1 {
    margin: 20px 0; 
    font-size: 3em; 
    color: #c1325d;
}

/* Estilos personalizados para la navbar */
.custom-navbar {
    background-color: #A4B6A6;
}

.navbar-nav {
    display: flex;
    justify-content: center; /* Centrar los elementos de la lista */
    width: 100%; /* Asegurar que ocupe todo el ancho */
}

.custom-nav-link {
    color: #F16D95 !important; /* Color de los enlaces */
    padding: 10px 15px; /* Padding para que se asemeje al estilo anterior */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Alineación de texto al centro */
    transition: background-color 0.3s, color 0.3s; /* Suaviza la transición de color */
}

.custom-nav-link:hover {
    background-color: #c1325d; /* Color de fondo más oscuro para el hover */
    color: white; /* Color del texto al pasar el mouse */
}

.section-inicio,
.section-productos,
.section-contacto,
.section-nosotros {
    background-color: #abb9ac; 
    padding: 20px;
}

main {
    display: grid; 
    grid-template-columns: 1fr; 
    max-width: 1200px;
    margin: auto;
}

section {
    margin-bottom: 20px;
}

section img {
    max-width: 100%;
    height: auto;
}

/* Estilo para el formulario de contacto */
form {
    max-width: 600px;
    margin: auto;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #F16D95;
    border-radius: 10px;
}

form button {
    background: #F16D95;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background: #db4672;
}

/* Estilo para el pie de página */
footer {
    background: #F16D95;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilo para el video */
.video-container {
    position: relative;
    width: 100%; 
    max-width: 800px; 
    margin: 20px auto; 
    padding-top: 35%; 
    background: #000; 
}

.video-container iframe {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    border: 0; 
}

/* Estilos para el carrusel */
.carousel {
    max-width: 800px; 
    margin: 0 auto; 
}

.carousel-inner img {
    width: 100%; 
    height: auto;
    max-height: 400px; 
    object-fit: contain; 
    display: block;
}

.carousel-item {
    text-align: center; 
}

/* Estilo para los productos disponibles */
.available-product-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    gap: 10px; 
}

.available-product-item img {
    width: 100%; 
    height: auto;
    max-width: 400px; 
    max-height: 400px; 
    object-fit: cover; 
}
